<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FITNESS SUPPORTER"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthApp">
        <activity android:name=".screen.HealthActivity"></activity>
        <activity android:name=".screen.SelectHealthSystemActivity" />
        <activity
            android:name=".screen.HealthPopupGoActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".screen.HealthPopupActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".screen.SelectHealthActivity" />
        <activity android:name=".screen.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screen.SelectActivity" />
        <activity android:name=".screen.CalendarActivity" />
        <activity android:name=".screen.MainActivity" />
        <activity android:name=".screen.BmiActivity" />

        <service
            android:name=".ble.BluetoothLeService"
            android:enabled="true" />
    </application>

</manifest>