<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="SMART YOGA MAT"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthApp">
        <activity android:name=".screen.FlankActivity"></activity>
        <activity android:name=".screen.SqurtActivity" />
        <activity
            android:name=".screen.Bluetooth_popup"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity android:name=".screen.PushUpActivity" />
        <activity
            android:name=".screen.HealthPopupGoActivity"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity android:name=".screen.SelectHealthActivity" />
        <activity android:name=".screen.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screen.SelectActivity" />
        <activity android:name=".screen.CalendarActivity" />
        <activity android:name=".screen.BmiActivity" />
    </application>

</manifest>